version: 2.1
orbs:
  node: circleci/node@3.0.0

jobs:
  some:
    executor:
      name: node/default
    steps:
      - run: echo "ACHO QUE FUNFOU"
  another:
    executor:
      name: node/default
    steps:
      - run: 
          command: | 
            echo "Trying somethig new"
            mkdir aha

workflows:
  node-tests:
    jobs:
      - node/test

      - some

      - another:
          requires:
            - some